body {
    color: white;
    background: black;
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px #000000;
    padding: 20px;
    font-size: 32px;
    color: #ffffff;
}

.chamada {
    background: #ff0000;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-filmes {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-filmes img {
    opacity: 0.5;
    height: 200px;
}

.categoria-filmes img:hover {
    opacity: 1.0;
    border: 1px solid rgb(255, 255, 255);
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria h2 {
    color: #ff0000;
}

.categoria-subtitulo {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.categoria-subtitulo h2 {
    color: #e42a2a;
    margin: 0;
}

#toggle-button {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    font-family: "Chakra Petch", sans-serif;
}

#toggle-button:hover {
    background-color:#ffffff;
    color: #ff0000;
}